@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  font-family: 'Poppins';
}
body {
  margin: 0;
  padding: 0;
}
p {
  margin-bottom: 0px;
}
input {
  border-radius: 20px!important;
  background-color: #DAE1E7!important;
}
.btn:focus, .btn.focus {
  outline: 0;
  -webkit-box-shadow: none;
}